[submodule "third_party/conmon"]
	path = third_party/conmon
	url = https://github.com/containers/conmon
[submodule "third_party/squashfuse"]
	path = third_party/squashfuse
	url = https://github.com/vasi/squashfuse
[submodule "third_party/squashfs-tools"]
	path = third_party/squashfs-tools
	url = https://github.com/plougher/squashfs-tools
